@font-face {
  font-family: ArialPile;
  src: url("/ArialPile.otf") format("opentype");
}

:root {
  --beige: #f2ece4;
  --gold: #bda475;
  --gray-brown: #6b6558;
  --light-gray: #cfcbc7;
  --gray: #ababab;
  --brown: #665635;
  --blue: #79a4b5;
  --black: #161717;
}

html {
  font-family: ArialPile, Arial, Helvetica, sans-serif;
  font-size: calc(50% + 1.111vw);
  background-color: var(--beige);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#date {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: var(--light-gray);
  font-size: calc(24vw);
  line-height: 1;
}

#clock {
  color: var(--gray);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#clock > * {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

#posts {
  position: relative;
  color: var(--blue);
  padding: 1rem;
}

#posts > * + * {
  margin-top: 1rem;
}

#posts > * {
  max-width: 30rem;
}

#posts > *:first-child {
  color: var(--brown);
}
