@font-face {
  font-family: ArialPile;
  src: url("/ArialPile.otf") format("opentype");
}

:root {
  --beige: #f2ece4;
  --gold: #bda475;
  --gray-brown: #6b6558;
  --light-gray: #cfcbc7;
  --gray: #ababab;
  --brown: #665635;
  --blue: #79a4b5;
  --black: #161717;
}

html {
  font-family: ArialPile, Arial, Helvetica, sans-serif;
  background-color: var(--beige);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

main {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

iframe {
  background-color: var(--black);
}

#date {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: var(--light-gray);
  font-size: calc(24vw);
  line-height: 1;
}

#clock {
  color: var(--gray);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#clock > * {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

#posts {
  position: relative;
  color: var(--blue);
  padding: 1rem;
  opacity: 0;
}

[data-toggle="1"] #posts {
  opacity: 1;
}

#posts {
  font-family: Arial, Helvetica, sans-serif;
}

#posts > * + * {
  margin-top: 1rem;
}

#posts > * {
  max-width: 33%;
}

#graph {
  color: var(--gray-brown);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: calc(50% + 1rem);
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

#canvas {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

#livestream {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--black);
  opacity: 0;
}

[data-toggle="2"] #livestream {
  opacity: 1;
}

#spores {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100vh;
}

#days {
  position: fixed;
  top: 50%;
  left: 50vh;
  color: var(--gold);
  transform: translate(-50%, -50%);
}

#toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

#toggle > * {
  width: 12px;
  height: 12px;
  border-radius: 100vw;
  border: solid white 1px;
}

[data-toggle="0"] #toggle > *:nth-child(1),
[data-toggle="1"] #toggle > *:nth-child(2),
[data-toggle="2"] #toggle > *:nth-child(3) {
  background: white;
}
